/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set default font and background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Basic styling for headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

/* Basic styling for paragraphs */
p {
    margin-bottom: 1rem;
}

/* Basic styling for links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Basic styling for lists */
ul {
    list-style: none;
}

ul li {
    margin-bottom: 0.5rem;
}

/* Basic styling for images */
img {
    max-width: 100%;
    height: auto;
}

#Logo_Button{
    width: 50px;
    height: auto;
    

}

#Logo_Button:hover {
    opacity:0.5;
}


.banner {
    height: 40px;
    background-color: #252525;
    color: #fff;
    padding: 1px;
    text-align: center;
  }