@font-face { font-family: LemonDays; src: url('/Lemon Days.ttf'); } 

.Headertest h1{
    position: flex;
    color: rgb(255, 255, 255);
    font-family: LemonDays, sans-serif;
    font-size: 5vh;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Homepage img{
    height: 150%;
    width: auto;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    overflow: hidden;

}

.Homepagebackground{
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
