/* Coolors Exported Palette - https://coolors.co/191308-322a26-454b66-677db7-9ca3db */


/* SCSS HEX */
$smoky-black: #191308ff;
$van-dyke: #322a26ff;
$delft-blue: #454b66ff;
$glaucous: #677db7ff;
$vista-blue: #9ca3dbff;


/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #191308ff, #322a26ff, #454b66ff, #677db7ff, #9ca3dbff);
$gradient-right: linear-gradient(90deg, #191308ff, #322a26ff, #454b66ff, #677db7ff, #9ca3dbff);
$gradient-bottom: linear-gradient(180deg, #191308ff, #322a26ff, #454b66ff, #677db7ff, #9ca3dbff);
$gradient-left: linear-gradient(270deg, #191308ff, #322a26ff, #454b66ff, #677db7ff, #9ca3dbff);
$gradient-top-right: linear-gradient(45deg, #191308ff, #322a26ff, #454b66ff, #677db7ff, #9ca3dbff);
$gradient-bottom-right: linear-gradient(135deg, #191308ff, #322a26ff, #454b66ff, #677db7ff, #9ca3dbff);
$gradient-top-left: linear-gradient(225deg, #191308ff, #322a26ff, #454b66ff, #677db7ff, #9ca3dbff);
$gradient-bottom-left: linear-gradient(315deg, #191308ff, #322a26ff, #454b66ff, #677db7ff, #9ca3dbff);
$gradient-radial: radial-gradient(#191308ff, #322a26ff, #454b66ff, #677db7ff, #9ca3dbff);