@font-face { font-family: OUTFIT; src: url('/Outfit-VariableFont_wght.ttf'); } 
@font-face { font-family: OUTFITBOLD; src: url('/Outfit-ExtraBold.ttf'); } 

.computlan {
    --screensize: 100vh;
}

.computlan .welcome{
    display: flex;
    height: var(--screensize);
    width: 100%;
    background-color: #008cff;
}
.computlan .python{
    display: flex;
    height: var(--screensize);
    width: 100%;
    background-color: var(--body);
    z-index: 0;
}
.python .Box1{
    display: flex;
    position: absolute;
    height: 10vw;
    width: 50%;
    background-color: var(--TheColour);
    z-index: 2;
    border-radius: 0px 0px 20px 0px;
    box-shadow: 0px 0px 15px 1px var(--textMain);
}

.python .Box2{
    display: flex;
    position: absolute;
    height: var(--screensize);
    width: 50%;
    background-color: var(--body);
    z-index: 1;
    box-shadow: 0px 0px 15px 1px var(--textMain);
}

.Box1 h1{
    font-family: OUTFITBOLD;
    position: relative; 
    color: var(--primary);
    font-size: 8vw;
    transform: translate(5%, -20%);
    opacity: 90%;
    -webkit-text-stroke: 4px #00000025;
}

.PythonDescr{
    display: flex;
    font-family: Inter;
    font-size: calc(1vw + 1vh);
    margin-top: 10vw;
    padding: 10px;
    color: var(--primary);
    text-shadow: #00000025 0px 4px 4px;
}

.computlan .Htmlcss{
    display: flex;
    height: var(--screensize);
    width: 100%;
    background-color: #ff00d9;
}
@media (max-height: 310px) {
    .PythonDescr{
        opacity: 0;

    }
}
.computlan .Htmlcss h1{
    display: flex;
    position: relative;
    justify-content: center;
}

.computlan h1{
    font-family: OUTFIT;
    display: flex;
    position: relative;
    justify-content: center;
}
